@charset "UTF-8";
h1 {color: aqua;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
body{background: blue;font-size: 16px;}
h2 {color: chartreuse;font-family: Arial, Helvetica, sans-serif;}
p{color: rgb(255, 255, 255);}