@chaset "UTF-8";

body  {
font-family: Arial, Helvetica, sans-serif;

}
table{
border-collapse: collapse;
width: 300px;
text-align: center;


}
tr {


}

th {



}
td {
border: 1px solid black;
padding: 10px;


}