* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

}

/* Cabeçalho */
header {
  text-align: center;
  margin: 40px 0;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.youtube {
  text-decoration: none;
  color: #ffbaba;
  font-weight: bold;
}

/* Cards */
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 320px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.card h2 {
  margin-bottom: 15px;
}

.card p {
  margin: 10px 0;
}

.card span {
  color: #ff8080;
  font-weight: bold;
}

/* Botão */
button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: rgba(0,0,0,0.3);
  color: #ffd966;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgba(0,0,0,0.5);
}

/* Rodapé */
