@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-titulo: "Bebas Neue", serif;
    --fonte-padrao: "Dancing Script", cursive;
}

html, body {
    min-height: 100vh;
    background-color: #3f3e3e;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 7vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


section {
    padding: 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte-padrao);
    font-size: 4vw;
}


.normal {
    background-color: white;
    color: black;
}


.imagem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.474);
    background-attachment: fixed;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
    padding: 15px;
}


#img001 {
    background-image: url("imagem/pexels-picsbyphoenix-462935-31232293.jpg");
}

#img002 {
    background-image: url("imagem/pexels-skyler-ewing-266953-6543773.jpg");
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
