@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0%;
    padding: 0%;

}
:root {
--fonte-titulo:"bebas Neue", Georgia, Times, 'Times New Roman', serif;
--fonte-padrao:"Dancing Script", 'Times New Roman', serif, "cursive";


}
html,
body {
    min-height: 100vh;
    background-color: rgb(63, 62, 62);
 
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 7vw;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a>:hover {
    text-decoration: underline;


}

.normal {
    background-color: white;
    color: black;

}

.imagem {
    background-color: rgba(0, 0, 0, 0.226);
    color: white;


}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em;
    padding-left: 10px;
    font-family: var(--fonte-padrao);
    font-size: 4vw;


}

.imagem {
    background-color: rgba(0, 0, 0, 0.145);
    color: white;
    display: inline-block;
    padding: 5px;


}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}