 @charset "UTF-8";

 *{
  
 font-family: Arial, Helvetica, sans-serif;
 }
 p {
text-align: justify;

 }
 body {
 background-image: linear-gradient(to right, #448AA6, #6AC4D9, #123859);

 }
 main {
background-color: white;
width: 600px;
padding: 10px; 
margin: 20px;
border-radius: 10px;
box-shadow:5px 5px 15px #062037a8 ;
}
h1 {
    color:aqua;
text-align: center;
text-shadow:1px 1px 0px rgb(17, 49, 49) ;
}
h2 { color: aquamarine;
text-align: left;

}
